{:paths ["src"]
 :main "main.lg"
 :targets {:bin {:out "bin/projectname"}}
 :deps {abogoyavlensky/tiny-cli {:git/url "https://github.com/abogoyavlensky/tiny-cli"
                                 :git/tag "v0.1.0-rc2"}}
 :tasks {fmt {:doc "Format source files"
              :do [{:sh "cljfmt fix"}]}}}
